# ASP.NET Core
appsettings.*.json
appsettings.Development.json
appsettings.Local.json
secrets.json
appsettings.json


# Build results
bin/
obj/
out/

# Temporary files
*.tmp
*.temp
~$*

# NuGet packages
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# VS Code
.vscode/

#env file
.env

#uploads folder
uploads/